body {
    width: 100%;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    background-color: #ededed;
    position: relative;
    margin:0;
}

#contenido :not(div) {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

#contenido {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

nav {
    width: 100%;
    height: 75px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
}

#brand-nav {
    display: flex;
    width: 10%;
    margin: auto;
    margin-right: 48%;
}

.marca-column {
    width: 50%;
    margin: auto;
}
svg{
    opacity: 0.75;
    width: 100%;
    height: auto;
    fill: #193441;
}

#name-nav {
    font-family: "PT Sans";
    font-size: 2.5em;
    margin: 7% 0 20% 5%;
    color: #353740;
}

#logo-nav {
    width: 90%;
    height: 90%;
    float: left;
    margin: auto;
}
.error-container{
    width: 100%;
    height: auto;
    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.error-container h1, h3{
    text-align: center;
    color: #353740;
    font-family: "PT Sans";
}

.error-container h1 {
    margin: 3% 3% 3% 3%;
}

.error-container h3{
    margin: 3% 3% 3% 3%;
    width: 70%;
}

.error-container img{
    width: 70%;
}
footer {
    width: 100%;
    height: 176px;
    bottom: 0;
    background-color: #353740;
    position: relative;
    text-align: center;
}

#logo {
    width: 30px;
    height: 30px;
    float: left;
    margin: auto;
}

#eslogan-footer {
    float: left;
    margin: auto;
    padding-top: 4px;
    font-family: "PT Sans";
    font-size: 18px;
}

#eslogan {
    display: inline;
    width: 35%;
    float: left;
    color: #ffffff;
    display: flex;
    margin: 15px 0 15px 15px;
}

#more-links {
    width: 40%;
    float: right;
}

.link-column {
    width: 32%;
    display: inline-block;
    margin: 15px 0 0 0;
    text-align: left;
}

.link-column a:link {
    color: #FFFFFF;
}

.link-column a:visited {
    color: #FFFFFF;
}

.link-column a:hover {
    text-decoration: underline;
}

#info {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 25%;
    font-family: "PT Serif";
    color: #A4ABBF;
}

#info a:link, a:visited {
    color: #A4ABBF;
    text-decoration: underline;
}

#info a:hover {
    text-decoration: none;
}

.title-column {
    color: #A4ABBF;
    font-family: "PT Sans";
    margin: auto;
}

.links-footer {
    color: #FFFFFF;
    font-family: "PT Serif";
    margin: auto;
}

.links-footer a:visited, a:link, a:active {
    text-decoration: none;
}