@media screen and (min-width: 1400px) {
    .fila {
        height: 230px !important;
    }
}

body {
    font-family: 'PT Sans Caption', sans-serif;
    background-color: #ededed;
    position: relative;
    text-align: center;
    margin:0;
}

.gradient {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 0, 0));
    height: 40%;
    width: 100%;
    bottom: 0;
    position: absolute;
    display: none;
    text-align: left;
}

.imagen p {
    color: #d6d6d6;
    margin-left: 3%;
    position: absolute;
    bottom: 3px;
    left: 0;
    display: none;
}

.imagen small {
    color: #d6d6d6;
    margin-left: 3%;
    margin-bottom: 1%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.7em;
    display: none;
}

.imagen small:hover {
    font-weight: bold;
}

.social {
    color: #d6d6d6;
    padding-right: 3%;
    margin-bottom: 13px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

img {
    width: 100%;
}

#ultimas-fotos a {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #464646;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 10px;
}

.fila {
    display: flex;
    height: 17vw; /*La altura es responsive con la anchura de la imagen (ViewPort Width)*/
    margin-bottom: 1%;
    overflow: hidden;

}

#ultimas-fotos {
    width: 100%;
}

.imagen {
    position: relative;
    cursor: pointer;
}

#imagenes-hidden {
    display: none;;
}

.titulo-foto:hover {
    font-weight: bold;
}

#ver-mas {
    border: 1px solid #464646;
    width: 120px;
    border-radius: 6px;
    margin: 3% auto;
    cursor: pointer;
}

#ver-mas a {
    color: #193441;
    display: block;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ver-mas:hover {
    background-color: #193441;
}

#ver-mas a:hover {
    color: #EBEBEB;
}

nav {
    width: 100%;
    height: 75px;
    background-color: #EBEBEB;
    display: flex;
}

#brand-nav {
    display: flex;
    width: 10%;
    margin: auto;
}

.marca-column {
    width: 38%;
}

svg {
    opacity: 0.75;
    width: 85%;
    height: auto;
}

#name-nav {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    margin: 5% 0 0 10px;
    color: #353740;
}

#logo-nav {
    width: 90%;
    height: 90%;
    float: left;
    margin: auto;
}

.notificationsMenu:before {
    content: "";
    display: inline-block;
    position: absolute;
    border: 10px solid #193441;
    border-color: transparent transparent #193441 transparent;
    bottom: 0px;
    left: 40%;
}

.perfilNavMenu:before {
    content: "";
    display: inline-block;
    position: absolute;
    border: 10px solid #193441;
    border-color: transparent transparent #193441 transparent;
    bottom: 0px;
    left: 40%;
}

#search-div {
    width: 60%;
    margin: auto 0 auto auto;
    padding: 0 0 0.5% 1.5%;
}

nav a {
    text-decoration: none;
}

#contenido {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ededed;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1em;
    position: relative;
}

#buttons-nav {
    display: flex;
    float: right;
    width: 20%;
    margin: auto auto auto 0;
    justify-content: space-between;
}

.notification {
    background-color: #EBEBEB;
    color: #193441;
    font-family: 'PT Sans';
    font-weight: bold;
    border: solid;
    border-radius: 10px;
    margin: 5%;
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.notification img {
    height: 100px;
    width: auto;
}

#follow-user {
    border-radius: 50%;
    align-self: center;
    margin: 2% 4.5% 2% 2%;
}

.notification p {
    margin: 4%;
    align-self: center;
    text-align: left;
    font-weight: normal;
}

#subir-foto {
    background-color: transparent;
    margin-right: 10px;
}

#subir-foto p {
    color: #464646;
    font-family: "PT Sans";
    /*font-weight: bold;*/
    margin: auto;
}

#subir-foto p:hover {
    font-weight: bold;
}

.button-sign {
    width: 40%;
    height: 50%;
    margin: auto;
    text-align: center;
}

#perfil-nav {
    background-image: url('../images/michael-user.jpg');
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 300px;
    background-position: center;
    margin-top: 20%;
}

.dropbtn {
    color: #353740;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "PT Sans";
    background-color: transparent;
    margin-left: 0%;

}

.dropbtn:hover, .dropbtn:focus {
    font-weight: bold;
    outline: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 100;
    text-align: center;
    float: right;
}

.dropdown-content {
    display: inline;
    position: absolute;
    background-color: #193441;
    width: 400%;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    border-radius: 5px 5px 5px 5px;
    height: 0;
    transition: height 0.4s;
}

.menu-opc {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #EBEBEB;
    color: #353740;
}

.showNot {
    height: 560px;
}

.showMenu {
    height: 180px;
}

#search-bar {
    width: 95%;
    height: 30px;
    border: 1px solid #C8C8C8;
    border-radius: 6px;
    margin: 7px 0 0 19px;
    background-image: url('../images/search-icon.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 8px 50%;
    padding: 0 0 0 30px;
}

.fa {
    margin: .25em;
    cursor: pointer;
}

.fa-heart-o {
    color: #d6d6d6;
}

.fa-heart {
    color: #d6d6d6;
}

.fa-comment {
    color: #d6d6d6;
}

.fa-spin {
    display: none;
    color: #193441;
    margin: 3% auto;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

footer {
    width: 100%;
    height: 176px;
    bottom: 0;
    background-color: #353740;
    position: relative;
    text-align: center;
}

#logo {
    width: 30px;
    height: 30px;
    float: left;
    margin: auto;
}

#eslogan-footer {
    float: left;
    margin: auto;
    padding-top: 4px;
    font-family: "PT Sans";
    font-size: 18px;
}

#eslogan {
    display: inline;
    width: 35%;
    float: left;
    color: #ffffff;
    display: flex;
    margin: 15px 0 15px 15px;
}

#more-links {
    width: 40%;
    float: right;
}

.link-column {
    width: 32%;
    display: inline-block;
    margin: 15px 0 0 0;
    text-align: left;
}

.link-column a:link {
    color: #FFFFFF;
}

.link-column a:visited {
    color: #FFFFFF;
}

#info {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 25%;
    font-family: "PT Serif";
    color: #A4ABBF;
}

#info a:link {
    color: #A4ABBF;
    text-decoration: underline;
}

#info a:visited{
    color: #A4ABBF;
    text-decoration: underline;
}

.title-column {
    color: #A4ABBF;
    font-family: "PT Sans";
    margin: auto;
}

.links-footer {
    color: #FFFFFF;
    font-family: "PT Serif";
    margin: auto;
}

.links-footer a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}