.transparencia0{
    background: rgba(183, 134, 58, 0.70);
}

.transparencia1{
    background: rgba(186, 181, 143, 0.70);
}

.transparencia2{
    background: rgba(65, 57, 47, 0.70);
}

.transparencia3{
    background: rgba(88, 88, 88, 0.70);
}

.transparencia4{
     background: rgba(21, 75, 128, 0.70);
}