body {
    background-color: #ededed;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1em;
    position: relative;
    margin: 0;
}

nav {
    width: 100%;
    height: 75px;
    background-color: #EBEBEB;
    display: flex;
}

#brand-nav {
    display: flex;
    width: 10%;
    margin: auto;
}

.marca-column {
    width: 38%;
}
svg{
    opacity: 0.75;
    width: 85%;
    height: auto;
    fill: #193441;
}

#name-nav {
    font-family: "PT Sans";
    font-size: 30px;
    margin: 5% 0 0 0%;
    color: #353740;
}

#logo-nav {
    width: 90%;
    height: 90%;
    float: left;
    margin: auto;
}

.notificationsMenu:before{
    content:"";
    display:inline-block;
    position:absolute;
    border:10px solid #193441;
    border-color:transparent transparent #193441 transparent;
    bottom:0px;
    left: 40%;
}
.perfilNavMenu:before{
    content:"";
    display:inline-block;
    position:absolute;
    border:10px solid #193441;
    border-color:transparent transparent #193441 transparent;
    bottom:0px;
    left: 40%;
}
#search-div {
    width: 60%;
    margin: auto;
    padding: 0 0 0.5% 1.5%;
}

nav a {
    text-decoration: none;
}

#contenido {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ededed;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 1em;
    position: relative;
}

#buttons-nav {
    display: flex;
    float: right;
    width: 20%;
    margin: auto auto auto 0;
    justify-content: space-between;
}

.notification {
    background-color: #EBEBEB;
    color: #193441;
    font-family: 'PT Sans';
    font-weight: bold;
    border: solid;
    border-radius: 10px;
    margin: 5%;
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.notification img {
    height: 100px;
    width: auto;
}

#follow-user {
    border-radius: 50%;
    align-self: center;
    margin: 2% 4.5% 2% 2%;
}

.notification p {
    margin: 4%;
    align-self: center;
    font-weight: normal;
}

#subir-foto {
    background-color: transparent;
}

#subir-foto p {
    color: #464646;
    font-family: "PT Sans";
    /*font-weight: bold;*/
    margin: auto;
}

#subir-foto p:hover {
    font-weight: bold;
}

.button-sign {
    width: 40%;
    height: 50%;
    margin: auto;
    text-align: center;
}

#perfil-nav {
    background-image: url('../images/michael-user.jpg');
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 300px;
    background-position: center;
    margin-top: 20%;
}

.dropbtn {
    color: #353740;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "PT Sans";
    background-color: transparent;
    margin-left: 0%;

}

.dropbtn:hover, .dropbtn:focus {
    font-weight: bold;
    outline: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 100;
    text-align: center;
    float: right;
}

.dropdown-content {
    display: inline;
    position: absolute;
    background-color: #193441;
    width: 400%;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    border-radius: 5px 0px 5px 5px;
    height: 0;
    transition: height 0.4s;
}

.menu-opc {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #EBEBEB;
    color: #353740;
}

.showNot {
    height: 560px;
}

.showMenu {
    height: 180px;
}

#search-bar {
    width: 95%;
    height: 30px;
    border: 1px solid #C8C8C8;
    border-radius: 6px;
    margin: 7px 0 0 19px;
    background-image: url('../../images/search-icon.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 8px 50%;
    padding: 0 0 0 30px;
}

#cabeceraPerfil {
    height: 300px;
    width: 100%;
    position: absolute;
    -webkit-box-shadow: 0 4px 15px 2px #686e6b;
    -moz-box-shadow: 0 4px 15px 2px #686e6b;
    box-shadow: 0 4px 15px 2px #686e6b;
}

#cabeceraBackground {
    background-image: url('../images/cabecera.jpg');
    overflow: hidden;
    width: 100%;
    height: 300px;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    z-index: 0;
}

#imgUsuario {
    position: relative;
    display:block;
    width: 200px;
    margin: auto;
    margin-top: 30px;
    height: 200px;
    border-radius: 150px;
}

#nombreUsuario {
    color: white;
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 35px;
    padding: 0;
    font-size: 2em;
}

#cuadroSeguidores {
    margin-top: 15px;
    float: right;
    height: 60px;
    display: flex;
    width: 300px;
}

#cuadroSeguidores a {
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: #464646;
    font-weight: bold;
}

#menu {
    width: auto;
    height: 75px;
    display: flex;
}

#menu a {
    text-align: left;
    margin-top: 30px;
    margin-right: 3%;
    font-size: 25px;
    color: #464646;
    text-decoration: none;
}

#menu a:hover {
    font-weight: bold;
}

#barraBotones {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#ordenar {
    display: inline-flex;
    margin-top: 5px;
}

#ordenar p {
    margin: 0;
    font-size: 20px;
    color: #464646;
}

#selectOrdenar {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../images/flechaOrdenar.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: 0.90em;
    overflow: hidden;
    padding: 5px 10px;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

#botones-perfil {
    display: flex;
    float: right;
    width: auto;
    height: 40px;
}

.boton {
    border-radius: 6px;
    width: 100px;
    margin-left: 20px;
    border: 1px solid #464646;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'PT Sans Caption', sans-serif;
    color: #193441;
}

.boton:hover {
    background-color: #193441;
    color: #EBEBEB;
}

.seguido {
    background-color: #193441;
    color: #EBEBEB;
}

#bodyPerfil {
}

#bodyPerfil h1 {
    margin-top: 25px;
    margin-bottom: 30px;
    color: #464646;
    font-size: 20px;
    font-weight: bold;
}

.fila {
    display: flex;
    margin-bottom: 30px;
}

.columna img {
    width: 100%;
}

.columna {
    display: inline-block;
    height: 100%;
    width: 31.7%;
    position: relative;
}

#imagenes-hidden {
    display: none;
}

#ver-mas {
    border: 1px solid #464646;
    width: 120px;
    border-radius: 6px;
    margin: 3% auto;
    cursor: pointer;
}

#ver-mas a {
    color: #193441;
    display: block;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ver-mas:hover {
    background-color: #193441;
}

#ver-mas a:hover {
    color: #EBEBEB;
}

.fa.fa-circle-o-notch.fa-spin {
    display: none;
    color: #193441;
    margin: 3% auto;
}

.transparencia {
    cursor: pointer;
    width: 100%;
    height: 98.5%;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    display: none;
}

.tituloFoto {
    position: absolute;
    font-family: Marvel, serif;
    font-weight: bold;
    bottom: 130px;
    width: 100%;
    line-height: 100px;
    text-align: center;
    font-size: 2.5em;
    color: #FFFFFF;
    display: none;
}

.numeroLikes {
    position: absolute;
    font-family: Marvel, serif;
    font-weight: bold;
    bottom: 0;
    width: 100%;
    line-height: 180px;
    text-align: center;
    font-size: 2.5em;
    color: #FFFFFF;
    display: none;
}

.fa.fa-heart {
    position: absolute;
    bottom: 115px;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    color: #FFFFFF;
    display: none;
}


